.track {
	border: solid;
	border-color: #cfd6e3;
	background: white;
	width: 99%;
	height: 160px ;
	margin: 3px;
	position: relative;
}

.track .info > h4 {
	font-size: 18px;
	padding: 5px;
	margin: 3px;
}
.track .info > p {
	font-size: 11px;
	padding: 1px;
	padding-left: 25px;
	margin: 3px;
	width: 75%;
	float: left;
}

.tracklist {
	/* background: #cfd6e3; */
	width: 99%;
	height: 50px ;
	margin: 20px;
	position: relative;
}

.insidebuttons {
	width: 80%;
	float: right;
}
