.track {
	border: solid;
	border-color: #cfd6e3;
	background: white;
	width: 99%;
	height: 310px ;
	margin: 3px;
	position: relative;
}

.track .info > h4 {
	/* text-align: center; */
	font-size: 18px;
	padding: 5px 5px 5px 18px;
	margin: 3px;
}
.track .info > p {
	font-size: 11px;
	padding: 1px;
	padding-left: 25px;
	margin: 3px;
	width: 100%;
	float: left;
}

.tracklist {
	/* background: #cfd6e3; */
	width: 99%;
	height: 50px ;
	margin: 20px;
	position: relative;
}

.insidebuttons {
	width: 98%;
	float: right;
}

.chordlist {
	/* text: 80%; */
	text-align: center;
	/* float: left */
}
